body {
	background-image: url('bg_crop.jpeg');
	background-attachment: fixed;
	font-family: sans-serif;
	font-size: 20px;
}

#bg_solid {
	background-color: white;
	width: 1200px;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
}

#bg_gradient {
	background-image: linear-gradient(to right, white, rgba(0,0,0,0));
	width: 600px;
    height: 100%;
	position: fixed;
	top: 0px;
	left: 1200px;
}

#contents_box {
	position: relative;
	left: 100px;
	top: 200px;
	width: 1000px;
}

#image_credit {
	position: fixed;
	bottom: 10px;
	right: 10px;
	color: white;
}

#menu {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 1200px;
	height: 160px;
	border: none;
}